{% extends "base.html" %}
{% block content %}
<style>
ol.patching > li {
  padding-bottom:10px;
}
</style>

<div class="box container" style="margin-top:4%">
  <p class="is-size-4 has-text-weight-bold">Disclaimer</p>
    <ol class="patching" style="margin-left:4%;margin-top:1%;">
      <li>We don't save your nim and password</li>
      <li>If you don't trust us you can check our GitHub to see our code : 
        <a href="https://github.com/mentimun-mentah/sion-automation" target="_blank">Link</a>
      </li>
      <li>Last but not least, feel free to fork our github and contribute together. Enjoy :)</li>
    </ol>
</div>

<form method="POST" class="container" style="margin-top:1%">
  {{form.csrf_token}}
  <div class="field">
    {{form.nim.label(class='label')}}
    <div class="control has-icons-right">
      {% if form.errors.nim %}
        {{form.nim(class='input is-danger',placeholder='170010000')}}
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p class="help is-danger">{{form.errors.nim[0]}}</p>
      {% else %}
        {{form.nim(class='input',placeholder='170010000')}}
      {% endif %}
    </div>
  </div>

  <div class="field">
    {{form.password.label(class='label')}}
    <div class="control has-icons-right">
      {% if form.errors.password %}
        {{form.password(class='input is-danger',placeholder='bla bla')}}
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <p class="help is-danger">{{form.errors.password[0]}}</p>
      {% else %}
        {{form.password(class='input',placeholder='bla bla')}}
      {% endif %}
    </div>
  </div>

  <div class="field">
    {{form.kelas.label(class='label')}}
    <div class="control">
      {{form.kelas(class="radio")}}
      {% if form.errors.kelas %}
        <p class="help is-danger">{{form.errors.kelas[0]}}</p>
      {% endif %}
    </div>
  </div>

  <div class="field">
    {{form.harapan.label(class='label')}}
    <div class="control">
      {{form.harapan(class="radio")}}
      {% if form.errors.harapan %}
        <p class="help is-danger">{{form.errors.harapan[0]}}</p>
      {% endif %}
    </div>
  </div>

  <div class="field">
    <p class="control">
      {{form.submit(class='button is-info')}}
    </p>
  </div>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category,message in messages %}
    {% if category == 'error'%}
    <script>
      var message = {{message|tojson|safe}}
      swal("", message, "error");
    </script>
    {% else %}
      <script>
        var message = {{message|tojson|safe}}
        swal("",message,"success");
      </script>
    {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}
